$screen-xsm-max: 374px;
$screen-sm-max: 767px;
$screen-md-min: 768px;
$screen-md-max: 991px;
$screen-lg-max: 1199px;
$screen-desktop-lg-max: 1365px;

// Mobile devices
@mixin mobile {
    @media (max-width: #{$screen-sm-max}) {
        @content;
    }
}
// Mobile_Small devices
@mixin small_mobile {
    @media (max-width: #{$screen-xsm-max}) {
        @content;
    }
}
// Desktop devices
@mixin desktop {
    @media (min-width: #{$screen-md-min}) {
        @content;
    }
}

// iPad Portrait devices
@mixin ipad {
    @media (max-width: #{$screen-md-max}) {
        @content;
    }
}

// Laptop devices
@mixin laptop {
    @media (max-width: #{$screen-lg-max}) {
        @content;
    }
}
// Laptop devices
@mixin desktop_laptop {
    @media (max-width: #{$screen-desktop-lg-max}) {
        @content;
    }
}

// Use guidance
// @include laptop {}
// @include ipad {}
// @include mobile {}
// @include small_mobile {}
// @include desktop {}
// @include desktop_laptop {}
