@import "../../src/app/source/variable";

.side-menu {
    position: fixed;
    right: 30px;
    bottom: 0;
    z-index: 3;
    opacity: 1;
    -webkit-transition: opacity 0.3s;
    top: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    ul.nav-group {
        li.menu-item {
            width: 50px;
            height: 50px;
            list-style: none;
            position: relative;
            display: flex;
            align-items: center;
            transition: 0.3s;
            margin: 0 0 20px;
            border-radius: 50%;
            background: $light_dark;
            text-align: center;
            justify-content: center;

            & i {
                color: $light_grey;
                font-size: 19px;
                transition: 0.3s;
            }
            & span {
                z-index: -1;
                position: absolute;
                top: 0;
                right: 0;
                opacity: 0;
                color: $white;
                line-height: 50px;
                font-weight: 500;
                transition: all 0.3s;
                border-radius: 30px;
                text-transform: uppercase;
                padding: 0 25px 0 30px;
                height: 50px;
                visibility: hidden;
            }
            &:hover {
                background-color: $primary_color;
                span {
                    opacity: 1;
                    right: 27px;
                    margin: 0;
                    text-align: center;
                    border-radius: 30px 0 0 30px;
                    background-color: $primary_color;
                    visibility: visible;
                }
            }
        }
    }
}
